<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CalcDebt</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<!--    <link rel="stylesheet" type="text/css" href="/css/style.css}"/>-->
</head>
<body>
<div id = "form">
    <form class = "formmain" th:action="@{/index}" method="post"    th:object="${calc}">
        <label>  <h3>Ведите сумму</h3>
        <input type="number" name="summ" class = "summ"  placeholder="000000000.00"
               step = "0.01" min="0" max="1000000000.00"

        >
        </label>
        <label> <h3>Введите начальную дату </h3>
        <input type="date" name="dateStart" class = "dateStart" >
        </label>
        <label> <h3>Введите конечную дату</h3>
        <input type="date" name="dateEnd" class = "dateEnd" >
        </label>
        <input type="submit" name="submit" value="Расчитать" class="submit">
    </form>
    <div>
        <label> <h2>Результат:</h2></label>
        <h1 th:utext="${summ}"></h1>
        <span th:utext="${summ}"></span>
    </div>
</div>
</body>
</html>