<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CalcDebt</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
    <!--    <link rel="stylesheet" type="text/css" href="/css/style.css}"/>-->
</head>
<body>
<div class = "top">
    <img th:attr="src=@{img/img.png}" alt="Italian Trulli">
</div>
<div id="form">
    <form class="formmain" th:action="@{/index}" method="get">
        <label><h3>Ведите сумму</h3>
            <input type="number" name="summ" class="summ" placeholder="00000000.00" step="0.01" min="0"
                   max="100000000.00">
        </label>
        <label><h3>Введите начальную дату </h3>
            <input type="date" name="dateStart" class="dateStart" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
        </label>
        <label><h3>Введите конечную дату</h3>
            <input type="date" name="dateEnd" class="dateEnd" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
        </label>
        <input type="submit" name="submit" value="Расчитать" class="submit">
    </form>
</div>
<div class="output">
    <div>
        <label><h5>Вы ввели сумму:</h5></label>
        <h5><span th:utext="${summ}"></span></h5>
    </div>
    <div>
        <label><h5>Вы ввели дату начала:</h5></label>
        <h5><span th:utext="${dateStart}"></span></h5>
    </div>
    <div>
        <label><h5>Вы ввели дату окончания:</h5></label>
        <h5><span th:utext="${dateEnd}"></span></h5>
    </div>

    <div>
        <label><h5>Количество полных дней в месяце:</h5></label>
        <h5><span th:utext="${colDaysInMonthPol}"></span></h5>
    </div>
    <div>
        <label><h5>Количество дней начисления в месяце:</h5></label>
        <h5><span th:utext="${colDaysInMonth}"></span></h5>
    </div>
    <div>
        <label><h5>Количество полных месяцев:</h5></label>
        <h5><span th:utext="${ColPolMonth}"></span></h5>
    </div>
</div>

<div class="result">

    <label><h2>Результат:</h2></label>
    <h1><span th:utext="${rezult}"></span></h1>

</div>

</body>
</html>